.title {
    margin: 0;

    font-family: "Hauora_Regular";
    
    color: rgb(255, 255, 255);

    letter-spacing: -1px;
}

.title_type_large {
    font-size: 80px;
    line-height: 88px;
}

.title_type_medium {
    font-size: 42px;
    line-height: 50px;
}

.title_type_small {
    font-size: 19px;
    line-height: 24px;
}

@media screen and (max-width: 1366px)  {
    .title_type_large {
        font-size: 60px;
        line-height: 70px;
    }
}