.title {
    margin-bottom: 40px;
}

.list {
    margin: 0 0 42px;
    padding: 0;

    list-style: none;
}

.item {
    margin-bottom: 15px;
}

.item:last-child {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}