.background {
    padding-top: 54px;

    background: rgba(177, 169, 153, 1);
    background-image: url('../../images/Rectangle 76.21553159.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.progress {
    margin-bottom: 30px;
}

.title {
    max-width: 475px;
    margin-bottom: 65px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 311px;
}

.flex-container__part-left {
    max-width: 715px;
}

.flex-container__part-right {
    max-width: 277px;
}

.texts {
    margin: 0 0 36px;
    padding: 0;
    
    list-style: none;
}

.text {
    margin-bottom: 20px;
}

.text:last-child {
    margin-bottom: 0;
}

.buttons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    list-style: none;
}

.button {
    margin-right: 21px;
}

.button:last-child {
    margin-right: 0;
}

.span {
    margin-right: 15px;

    font-family: 'Hauora_Bold', sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
}

.definitions {
    margin: 0 0 45px;
    padding: 0;

    list-style: none;
}

.definition {
    margin-bottom: 50px;
}

.definition:last-child {
    margin-bottom: 0;
}

